{% from 'forms.html' import render_field, flash_messages %}

{{ flash_messages() }}

<form method=POST>
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ render_field(form.title) }}
    </div>
    <div class="form-group">
      {{ render_field(form.url) }}
    </div>
    <div class="form-group">
      {{ render_field(form.date) }}
    </div>
    <div class="form-group">
      {{ render_field(form.text) }}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-success") }}
    </div>
</form>
